@import "../../styles/styles.scss";

.modal-second {
    height: 558px;
    border-color: $blueBorder;

    .modal-header__img {
        background-color: $colorWhite;
        width: 276px;
        height: 140px;
        flex-shrink: 0;
    }
}