@import "../../styles/styles.scss";

.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $colorBackIconsButtons;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;  /* плавний перехід */

    &:hover {
        border-color: $blueBorder;
        box-shadow: 0 0 10px $shadowBlue; /* тінь при наведенні */
        background-color: $hoverGrey;
    };

    &:active {
        transform: translate(2px, 2px); /* зміна положення на 2px вниз та 2px вправо */
        transition: transform 0.1s; /* плавний перехід */
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    };

    &.button--violet {
        background-color: $violetButton;

        &:hover {           
            background-color: $hoverViolet;
        };
    }

    &.button--white {
        background-color: transparent;
        border-color: $hoverGrey;
        color: $violetButton;

        &:hover {     
            border-color: $blueBorder;      
            background-color: $hoverVioletLight;
        };
    }
}
